<h3>Crear Producto</h3>

<form clrForm *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="addProduct()">
  <clr-input-container>
    <label>Nombre</label>
    <input clrInput formControlName="name" />
    <clr-control-error>El nombre es requerido</clr-control-error>
  </clr-input-container>
  <div class="clr-row" *ngIf="suggestions.length">
    <div class="clr-col-log-2"></div>
    <div class="clr-col-log-6">
      <clr-stack-view>
        <clr-stack-header>Productos Similares</clr-stack-header>
        <clr-stack-block *ngFor="let p of suggestions">
          <clr-stack-label>#{{p.id}}: {{p.name}}</clr-stack-label>
          <clr-stack-content>{{p.description}}</clr-stack-content>
        </clr-stack-block>
      </clr-stack-view>
    </div>
  </div>

  <clr-textarea-container>
    <label>Descripción</label>
    <textarea clrTextarea formControlName="description"></textarea>
    <clr-control-error>La descripción es requerida</clr-control-error>
  </clr-textarea-container>

  <clr-select-container>
    <label>Categoria</label>
    <select clrSelect formControlName="category">
      <option value="electronics">Electronicos</option>
      <option value="clothes">Ropa</option>
    </select>
    <clr-control-error>Por favor selecciona una categoría de la lista</clr-control-error>
  </clr-select-container>

  <clr-input-container>
    <label>Stock</label>
    <input clrInput formControlName="stock" type="number" min="0" max="9999999"/>
    <clr-control-error>Debes especificar el stock del producto mayor o igual a cero</clr-control-error>
  </clr-input-container>

  <button class="btn btn-primary" type="submit">Guardar</button>
  <button class="btn" type="button" (click)="formClose.emit()">Cerrar</button>
</form>
