<h3>Create a product</h3>

<form clrForm *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="addProduct()">
  <clr-input-container>
    <label>Nombre</label>
    <input clrInput formControlName="name" />
    <clr-control-error>El nombre es requerido</clr-control-error>
  </clr-input-container>

  <clr-textarea-container>
    <label>Descripción</label>
    <textarea clrTextarea formControlName="description"></textarea>
    <clr-control-error>La descripción es requerida</clr-control-error>
  </clr-textarea-container>

  <clr-select-container>
    <label>Categoria</label>
    <select clrSelect formControlName="category">
      <option value="electronics">Electronicos</option>
      <option value="clothes">Ropa</option>
    </select>
    <clr-control-error>Por favor selecciona una categoría de la lista</clr-control-error>
  </clr-select-container>

  <clr-input-container>
    <label>Stock</label>
    <input clrInput formControlName="stock" type="number" min="0" max="9999999"/>
    <clr-control-error>Debes especificar el stock del producto mayor o igual a cero</clr-control-error>
  </clr-input-container>

  <button class="btn btn-primary" type="submit">Enviar</button>
  <button class="btn" type="button" (click)="formClose.emit()">Cerrar</button>
</form>
