<clr-datagrid>
  <clr-dg-column [clrDgField]="'id'" [clrDgColType]="'number'">ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Nombre</clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">Descripción</clr-dg-column>
  <clr-dg-column [clrDgField]="'category'">Categoría</clr-dg-column>
  <clr-dg-column [clrDgField]="'stock'" [clrDgColType]="'number'">Stock</clr-dg-column>

  <clr-dg-row *clrDgItems="let product of products">
    <clr-dg-cell>{{product.id}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.description}}</clr-dg-cell>
    <clr-dg-cell>
      <span class="label">{{product.category}}</span>
    </clr-dg-cell>
    <clr-dg-cell>{{product.stock}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{products.length}} productos</clr-dg-footer>
</clr-datagrid>
